html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  table-layout: fixed;
}

body {
  margin: 0;
  table-layout: fixed;
}

header img {
  width: 30vw;
  margin: 2vw;
}

main .topimg {
  position: relative;
}

.topimg img {
  width: 100vw;
  /* margin: 0 auto; */
  vertical-align: bottom;
}

.mgl-10 {
  margin: 7vw 0 0 20vw;
}

.mgl-20 {
  margin: 25vw 0 0vw 35vw;
}

.topimg p {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.63), -3px 3px 2px rgba(0, 0, 0, 0.63),
    3px -3px 2px rgba(0, 0, 0, 0.63), -3px -3px 2px rgba(0, 0, 0, 0.63),
    3px 0px 2px rgba(0, 0, 0, 0.63), 0px 3px 2px rgba(0, 0, 0, 0.63),
    -3px 0px 2px rgba(0, 0, 0, 0.63), 0px -3px 2px rgba(0, 0, 0, 0.63);
  color: #fcfaf5;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 4vw;
  line-height: 3;
}

.section1 {
  background: url("../img/background1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  padding-bottom: 10vw;
}

.background1 h1 {
  margin: 0;
  padding-top: 10vw;
  font-size: max(20px, 2.7vw);
  text-align: center;
}

.background1 p {
  font-size: max(15px, 1.3vw);
  text-align: center;
}

.container1 {
  display: flex;
  margin: 0 auto;
  padding-top: 5vw;
}

.pic1 img {
  width: 40vw;
  margin-left: 5vw;
}

section .pic1 {
  width: 55%;
  margin-bottom: 5vw;
}

section .infotakeguchi {
  width: 45%;
  margin-left: 4vw;
}

.infotakeguchi .profile {
  font-size: max(12px, 1.3vw);
  line-height: 3vw;
}

.infotakeguchi img {
  width: 40vw;
}

section .takeguti {
  margin-top: 2vw;
  margin-bottom: 0.6vw;
  font-size: max(20px, 3vw);
  font-weight: 600;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
}

.jisseki {
  margin-top: 4vw;
  margin-bottom: 0;
  margin-left: 1vw;
  font-size: max(15px, 2vw);
  font-weight: 500;
}

.greeting {
  position: relative;
  margin-bottom: 5vw;
}

.greeting img {
  width: 100vw;
  height: 30vw;
}

.greeting p {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 3.5vw;
  margin-left: 45vw;
  margin-top: 13vw;
}

.greeting1 {
  font-size: max(15px, 1.3vw);
  margin-left: 3vw;
}

.section2 {
  background: url("../img/background2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5vw;
  width: 100vw;
}

.support {
  position: relative;
}

.support .supportpic {
  width: 100vw;
  height: 30vw;
  vertical-align: bottom;
}

.abcd .abcdinfo {
  text-align: center;
  font-size: max(15px, 1.3vw);
  margin: 0;
}

.support .support1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 3.5vw;
  margin-left: 44vw;
  margin-top: 13vw;
}

.abc {
  text-align: center;
  margin: 3vw;
}

.abc p {
  padding: 0 15vw;
  margin: 0;
  background: #fff0c6;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
}

.abcd {
  background: url("../img/background3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10vw 0 5vw;
  width: 100vw;
}

.support2 {
  background: #cde4ff;
  padding: 1vw 3vw;
  margin: 0%;
  text-align: center;
}

.support3 {
  background: #99ffcc;
  padding: 2vw;
  padding-bottom: 10vw;
  font-size: max(15px, 1.3vw);
  text-align: center;
}

.support3 h3 {
  display: inline-block;
  background-color: pink;
  padding: 0 2vw;
}

.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 5vw;
  text-decoration: none;
  color: #00bcd4;
  background: #ececec;
  transition: 0.4s;
  margin: 2vw auto 5vw;
}

.btn-flat-simple:hover {
  background: #00bcd4;
  color: white;
}

.flow {
  position: relative;
}

.flow img {
  width: 100vw;
  height: 30vw;
  vertical-align: bottom;
}

.flow .flow1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-family: "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho Pro", serif;
  font-size: 3.5vw;
  margin-left: 41vw;
  margin-top: 13vw;
}

.application {
  text-align: center;
}

.application .appimg1 {
  margin: 5vw auto 1vw 1vw;
  width: 17vw;
}

.application .appimg2 {
  margin: 1vw auto 0 0;
  width: 17vw;
}

.application .appimg3 {
  margin: 5vw auto 1vw 1vw;
  width: 17vw;
}

.application p {
  font-size: max(15px, 1.3vw);
}

.application .app1 {
  margin: 0 auto;
  font-size: max(20px, 2.5vw);
  font-weight: 600;
}

.application .app2 {
  margin-top: 0;
  font-size: max(17px, 2vw);
  font-weight: 500;
}
